@charset "utf-8";
body {
  margin: 0;
  font-family: sans-serif;
  background: #f0f8ff;
}

.header {
  background: #98d698;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-weight: bold;
}