@charset "utf-8";

body div {
    display: flex;
}

img {
    height: 200px;
    width: 200px;
}

div li {
    list-style: none;
    margin-top: 70px;
}

.zentai {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
}

.honbun {
    width: 50%;
    flex-direction: column;
}

.gazou {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}